 <ul class="nav" id="side-menu">
                     
        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search Tags..">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                            
                          </li>
                          <%room.room_tags.sort().forEach(function(tag){ %>
			              <li class="info_link text-left" ><a><%=tag%></a></li>
                    <%})%>
                     	 <li class="sidebar-search"><button class="btn-sm btn-warning">load more</button></li>
      </ul>