<!DOCTYPE html>
<html>
  <head>
  <style type="text/css">
  
  
  </style>
  
  </head>
  <body >


<div id="wrapper">
<footer class="section section-primary">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h1>Technology Rocks</h1>
					<p>
						We are always with you to help and every one should be.<br>
						keep trust in yourself and just keep working.<br>
						
					</p>
				</div>
				<div class="col-sm-6">
					<p class="text-info text-right">
						<br>
						<br>
					</p>
					<div class="row">
						<div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
							<a href="#"><i
								class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a> <a
								href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
							<a href="#"><i
								class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a> <a href="#"><i
								class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 hidden-xs text-right">
							<a href="#"><i
								class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a> <a
								href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
							<a href="#"><i
								class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a> <a href="#"><i
								class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
	<h4 style="text-align: center;">@techmania</h4>
	</footer>
	</div>
	</body>
</html>
