<html>
<head>
<title><%=title%></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link
	href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
	rel="stylesheet" type="text/css">



</head>


<body>
<header>
  <% include ./common_navigation %>
  </header>



<br><br>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
						<h1>Upload QA</h1><h4 style="color: gray;">submit your interview Questions with Answers to help others.</h4>
					</div>
				</div>
			</div>
		</div>

  <% if ( expressFlash.length > 0 ) { %>
  <p STYLE="margin-left: 50px;color: green;" >   <%= expressFlash %> </p>
  <% } %>
	

		<div class="container">
			<div class="row">
				<div class="col-md-12">
				<form role="form" action="/upload_question" method="post" >
					<div class="form-group">
						<label class="control-label" for="sel1">Select Technology</label>	
					 <select class="form-control" id="sel1" TITLE="Select Technology"
											NAME="ques[room]">
											<option>Java</option>
											<option>Automation Testing</option>
											<option>.Net</option>
											<option>Javascript</option>
											<option>Node js</option>
											<option>Sql</option>
											<option>Nosql</option>
											<option>Python</option>
											<option>Android</option>
											<option>Iphone</option>
								</select>
						</div>		
						<div class="form-group">
							<label class="control-label" for="exampleInputEmail1">Email
								address</label>
							<input class="form-control" id="exampleInputEmail1" required data-validation-required-message="please enter your email" name=ques[email]
 								placeholder="Enter email" type="email">
						</div>
						
						
						<div class="form-group">
							<label class="control-label" for="textarea1">Question</label>
							<textarea class="form-control" name=ques[question] id="textarea1" placeholder="Ask Question here" required data-validation-required-message="enter question"></textarea>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="textarea2">Answer</label>
							
							<textarea class="form-control" id="textarea2" placeholder="Answer here" required data-validation-required-message="answer could not be blank" name=ques[answer]></textarea>
							
						
						
						</div>
						
						<div class="form-group">
							<label class="control-label" for="sel2">select Tags for your Question</label><br>
							<select required="required" multiple id="example-dropRight" multiple="multiple" class="form-control"  name=ques[tags] style="vertical-align: top;">
        					    <option>core java</option>
       							 <option>j2ee</option>
        						<option>Strings</option>
        						<option>File Io</option>
        						<option>socket</option>
        						<option>collections</option>
       							 <option>jdbc</option>
        						<option>generics</option>
        						<option>flow control</option>
        						<option>localization</option>
        						<option>webservices</option>
       							 <option>interfaces</option>
        						<option>ejb</option>
        						<option>jta</option>
        						<option>jaas</option>
        						<option>jndi</option>
       							 <option>servlets</option>
        						<option>jsp</option>
        						<option>java8</option>
        						<option>lembda expression</option>
        						<option>enumeration</option>
       							 <option>stream method</option>
        						<option>jvm</option>
        						<option>multithreading</option>
        						<option>jsf</option>
        						<option>jpa</option>
                            </select>
						</div>
						<!-- ['core java','j2ee','j2me','Strings','File Io','socket','jdbc','collections','generics','arrays','flow control',
//		'localization','interfaces','jsp','servlets','jpa','ejb','jaas','jms','java xml','jndi',
//		'jta','java mail','multithreading','struts','jsf','glassfish','tomcat','jpa','java8'
//		];
						 -->
						  <!-- <div class="example">
                                      
                                        <select id="example-dropRight" multiple="multiple">
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                            <option value="4">Option 4</option>
                                            <option value="5">Option 5</option>
                                            <option value="6">Option 6</option>
                                        </select>
                                    </div> -->
						
						<br><br>
						<button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>
			</div>
		</div>
<br>
	
	
	
	
<% include ./footer %>	

<script src="js/jqBootstrapValidation.js"></script>
  <script type="text/javascript">
   							 $(document).ready(function() {
        						$('#example-dropRight').multiselect({
        						inheritClass: true, 
        						buttonWidth: '200px',
            					 maxHeight: 200
            					
       							 });
   									 });
								</script>
</body>
</html>